[project]
name = "jable-download"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.12"
dependencies = [
    "aiohttp>=3.13.3",
    "m3u8>=6.0.0",
    "pycryptodome>=3.23.0",
]
